
[class*="col-"] {
    min-height: 50px;
    background-color: #006CFA;
    color: white;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.green{
    background-color:#00E165;
    min-height: 10px;
    padding: 2%;
    border:0;
    
}
.nested{width: 100%;
display: flex;
padding: 3%;
gap:0.5%;}

.margin-bottom{
    margin-bottom: 1%;
}